/* Coolors Exported Palette - coolors.co/ffffff-3b413c-9db5b2-daf0ee-94d1be */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(130%, 5%, 24%, 1);
$color3: hsla(173%, 14%, 66%, 1);
$color4: hsla(175%, 42%, 90%, 1);
$color5: hsla(161%, 40%, 70%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(59, 65, 60, 1);
$color3: rgba(157, 181, 178, 1);
$color4: rgba(218, 240, 238, 1);
$color5: rgba(148, 209, 190, 1);

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
